'.source.yaml':
  'editor':
    'commentStart': '# '
    'foldEndPattern': '^\\s*$|^\\s*\\}|^\\s*\\]|^\\s*\\)'
    'increaseIndentPattern': '^\\s*.*(:|-) ?(&\\w+)?(\\{[^}"\']*|\\([^)"\']*)?$'
    'decreaseIndentPattern': '^\\s+\\}$'
